#div1{
    background-image: url(C:/Users/augus/Desktop/tp2Input/tp2Input/images/purpledot.png);
    background-repeat: repeat-x;
    
}
body{
    background-image: url(C:\Users/augus/Desktop/tp2Input/tp2Input/images/bullseye.png);
    background-size: 20%;
}
