#div1{
    background-image: url(images/purpledot.png) , url(images/goo.png) , url(images/purpledot.png);
    background-position: left, 80% 100%, right ;
    background-repeat: repeat-y , no-repeat, repeat-y;
}
body{
    background-image: url(images/blackgoose.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}
